.main-header {
    width: 100%;
    background-color: #FFFFFF;
    /* backdrop-filter: blur(150px); */
    padding: 0 80px;
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 99;
    box-shadow: 0px 12px 16px 0px rgba(0, 0, 0, 0.2);
    /* background-color: rgba(0, 0, 0, 0.1); */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
}


.left {
    list-style-type: none;
    gap: 15px;
    display: flex;
    flex: 1;
    align-items: center;
    font-size: 28px;
    font-weight: 900;
    font-style: italic;
}


.logo {
    width: 64px;
    overflow: hidden;
    cursor: pointer;
    mix-blend-mode: darken;
}

.center {
    position: absolute;
    left: 40%;
    font-weight: 600;
    transform: translate(-60%);
    z-index: 999;
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}

.center li {
    cursor: pointer;
    padding: 5px;
    text-transform: uppercase;
}

.center li:hover {
    color: #1D7328;
}


.dropdown {
    margin: 0 auto;
    position: relative;
}

.dropdown .dropdown-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown .dropdown-content {
    position: absolute;
    top: 50px;
    left: -20px;
    z-index: 1;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    z-index: 99;
}

.right {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    animation-timing-function: ease-in;
}

.right li {
    cursor: pointer;
    font-weight: 500;
    gap: 30px;
}

.sign {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid #539F22;
    padding: 4px 15px;
    cursor: pointer;
    color: white;
    background: linear-gradient(to right, #1D7328, #539F22);
    border-radius: 20px;
}

.cart-icon {
    position: relative;
    cursor: pointer;
    fill: currentColor;
}

.cart-icon span {
    min-width: 20px;
    text-align: center;
    color: white;
    background-color: #1D7328;
    padding: 2.5px;
    position: absolute;
    top: -5px;
    right: -12px;
    font-size: 12px;
    line-height: 1;
    border-radius: 10px;
}

.hamburger-menu {
    display: none;
}


.sticky-header {
    position: sticky;
    top: 0;
    transform: translateY(-80px);
    animation: stickyHeader 0.3s ease forwards;
}

@keyframes stickyHeader {
    0% {
        transform: translateY(-80px);
    }

    100% {
        transform: translateY(0);
    }
}

/* -------------------media query-------------------- */

@media screen and (max-width: 1800px){
    .center .sign{
        display: none;
    }
}
@media screen and (max-width: 1200px) {
    .main-header {
        padding: 0 80px;
    }

    .header-content {
        height: 100px;
    }

    .center {
        left: 30%;
        font-size: 1.5em;
        gap: 40px;
    }

    .right {
        padding-top: 5px;
        font-size: 1.5em;
    }
}

@media screen and (max-width: 1024px) {
    .main-header {
        padding: 0 30px;
    }

    .header-content {
        height: 80px;
    }

    .center {
        left: 25%;
        gap: 20px;
        font-size: 1.2em;
    }

}


@media screen and (max-width: 768px) {
    .main-header {
        padding: 0 50px;
    }

    .header-content {
        height: 80px;
        flex-direction: row-reverse;
    }

    .center{
        display: none;
    }
    .center .sign{
        display: block;
    }

    .right{
        position: absolute;
    }
    .right .sign{
        display: none;
    }

    .logo {
        width: 80px;
        overflow: hidden;
    }

    .hamburger-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: 0;
        width: 100px;
    }

    .left{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .center {
        display: none;
        width: 100%;
        position: absolute;
        background-color: #fff;
        justify-content: center;
        z-index: 99;
        top: 80px;
        left: 0;
        padding: 50px;
        box-shadow: 0px 12px 16px 0px rgba(0, 0, 0, 0.2);
        border-top: 2px solid #eee;
        transform: translateX(100%);
        animation: slideMenuBar 0.5s ease forwards;
    }
    .center .sign{
        display: flex;
       background: none;
       color: #1D7328;
       padding: 5px 10px;
    }

    .center-visible {
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 480px) {

    .main-header {
        padding: 0 40px;
    }

    .header-content {
        height: 60px;
    }

    .left {
        display: flex;
        flex: 1;
        justify-content: left;
        align-items: center;
    }

    .logo {
        width: 60px;
        overflow: hidden;
    }

    .center {
        display: none;
    }

    .right{
        position: absolute;
    }

    .center {
        display: none;
        position: absolute;
        top: 60px;
    }

    .center-visible {
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 330px){
    .hamburger-menu {
        justify-content: flex-start;
    }

    .logo{
        display: none;
    }
}

@keyframes slideMenuBar {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}